body {
    background-color: lightgray;
}

.main_container {
    padding-bottom: 20px;
    border-radius: 10px;
    /*border: solid 1px black;*/
    /*background-image: linear-gradient(to right, rgba(66, 58, 54, 255), rgba(32, 40, 48, 255));*/
    background-image: linear-gradient(to right, rgba(0, 67, 87, 0.8), rgba(32, 40, 48, 255));
}

.main_container h1 {
    margin-top: 30px;
    margin-bottom : 30px;
    color: white;
}

.logo_profil_container h3 {
    border-radius: 10px;
    background-color: lightgray;
    margin-top: 50px;
}

.nav-link {
    color: rgba(32, 40, 48, 255);
}

.logo_profil {
    border-radius: 10px;
    max-width: 250px;
    max-height: 250px;
    margin-top: 10px;
}

.info_container {
    border-radius: 10px;
    background-color: lightgray;
    padding-top : 30px;
    font-size: large;
}

.info_container a {
    /*background-image: linear-gradient(to right, rgba(66, 58, 54, 255), rgba(32, 40, 48, 255));*/
    background-image: linear-gradient(to right, rgba(0, 67, 87, 0.8), rgba(32, 40, 48, 255));
    border-radius: 10px;
    color: lightgray;
}

.success_container {
    margin-top: 50px;
    border-radius: 10px;
    background-color: lightgray;
}

.success_container .card_success {
    border-radius: 10px;
    background-color: silver;
    border: 1px solid black;
}

.success_container .add_perf {
    font-size: 1.8rem;
    color: forestgreen;
}
.success_container .add_perf:hover {
    color: darkgreen;
}


.scrollable_container {
    overflow-y: scroll;
    max-height: 240px; /* Ajustez la hauteur maximale comme nécessaire */
}

.card_success .nav-link {
    color: royalblue;
}
.card_success .nav-link:hover {
    color: darkblue;
}

.delete_link {
    color: red;
}
.delete_link:hover {
    color:darkred;
}