@model BeastWorkout.Models.Program

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Program</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nbtrainingperweek" class="control-label"></label>
                <input asp-for="Nbtrainingperweek" class="form-control" />
                <span asp-validation-for="Nbtrainingperweek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objectif" class="control-label"></label>
                <input asp-for="Objectif" class="form-control" />
                <span asp-validation-for="Objectif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_type_program" class="control-label"></label>
                <select asp-for="Id_type_program" class="form-control" asp-items="@ViewBag.List">
                    <option>Sélectionne le type d'entraînement</option>
                </select>
                <span asp-validation-for="Id_type_program" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_by" class="control-label"></label>
                <input asp-for="Created_by" class="form-control" readonly />
                <span asp-validation-for="Created_by" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is_my_Program" /> @Html.DisplayNameFor(model => model.Is_my_Program)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

